@font-face {
  font-family: 'Brandon_Reg';
  src: url('./assets/fonts/Brandon_reg.eot') format('eot');
  src: url('./assets/fonts/Brandon_reg.otf') format('otf'),
    url('./assets/fonts/Brandon_reg.ttf') format('ttf'),
    url('./assets/fonts/Brandon_reg.woff') format('woff'),
    url('./assets/fonts/Brandon_reg.woff2') format('woff2');
}

@font-face {
  font-family: 'Collier-regular';
  src: url('./assets/fonts/Collier-Regular.eot') format('eot');
  src: url('./assets/fonts/Collier-Regular.otf') format('otf'),
    url('./assets/fonts/Collier-Regular.ttf') format('ttf'),
    url('./assets/fonts/Collier-Regular.woff') format('woff'),
    url('./assets/fonts/Collier-Regular.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Taken_by_Vultures_Demo';
  src: url('./assets/fonts/Taken_by_Vultures_Demo.eot') format('eot');
  src: url('./assets/fonts/Taken_by_Vultures_Demo.otf') format('otf'),
    url('./assets/fonts/Taken_by_Vultures_Demo.ttf') format('ttf'),
    url('./assets/fonts/Taken_by_Vultures_Demo.woff') format('woff'),
    url('./assets/fonts/Taken_by_Vultures_Demo.woff2') format('woff2');
  font-display: block;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Brandon_Reg';
}

a {
  text-decoration: none;
  color: black;
}

section {
  margin-bottom: 200px;
}

.header {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}

.language-container {
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.logo-container {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 355px;
  height: 294px;
}

.section-hello {
  position: relative;
  height: 80vh;
  background-color: #f5d410;
  display: flex;
  padding: 80px;
}

.infos-section-hello {
  width: 55%;
  padding-right: 50px;
}

.title-section-hello {
  font-family: 'Collier-regular';
  font-size: 16rem;
  font-weight: 100;
  color: white;
}

.text-section-hello {
  font-weight: 800;
  font-size: 1.7rem;
  text-align: justify;
}

.signature-section-hello {
  font-family: 'Taken_by_Vultures_Demo';
  font-size: 6rem;
  text-align: right;
}

.img-section-hello-container {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-section-hello {
  position: absolute;
  width: 450px;
  top: 70px;
}

.section-about-us {
  position: relative;
}

.img1-section-about-us {
  position: absolute;
  left: -10%;
  object-fit: cover;
  width: 50%;
  height: 50%;
}

.text-section-about-us-container {
  margin-left: 40%;
  padding: 0px 150px 20px 60px;
}

.title-section-about-us {
  font-family: 'Collier-regular';
  font-size: 2.5rem;
  font-weight: 200;
}

.fp-section-about-us,
.sp-section-about-us,
.tp-section-about-us {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: justify;
  margin: 15px 0px;
}

.text-ml50 {
  margin-left: 40%;
}

.big-text-section-about-us {
  height: 120vh;
  background-color: #f5d410;
}

.with-big-text-section-about-us {
  font-family: 'Taken_by_Vultures_Demo';
  color: white;
  font-size: 13rem;
  text-align: center;
}

.wonderful-big-text-section-about-us {
  font-family: 'Collier-regular';
  color: white;
  font-size: 20rem;
  font-weight: 200;
  line-height: 80%;
  padding-left: 10%;
}

.img2-section-about-us-container {
  position: relative;
}

.img2-section-about-us {
  position: absolute;
  left: 50%;
  top: -250px;
  object-fit: cover;
  width: 50%;
}

.section-about-villa {
  margin-top: 600px;
  margin-bottom: 200px;
}

.text-img-container-about-villa {
  display: flex;
  width: 100%;
}

.text-section-about-villa-container {
  width: 50%;
  padding: 100px;
}

.img-and-text-section-about-villa-container {
  width: 50%;
}

.text1-section-about-villa {
  font-family: 'Collier-regular';
  font-size: 3rem;
}

.text2-section-about-villa {
  margin-top: 30px;
  font-size: 3rem;
}

.img1-section-about-villa {
  object-fit: cover;
  height: 450px;
  width: 450px;
}

.img2-section-about-villa {
  object-fit: cover;
  height: 350px;
  width: 850px;
}

.img-and-text-section-about-villa-container {
  position: relative;
  background-color: #f5d410;
}

.img1-section-about-villa {
  position: absolute;
  top: -150px;
}

.welcome-text-section-about-villa {
  font-family: 'Taken_by_Vultures_Demo';
  margin-top: 220px;
  padding: 100px;
  color: white;
  font-size: 13rem;
  line-height: 120%;
}

.img2-section-about-villa-container {
  position: relative;
}

.img2-section-about-villa {
  position: absolute;
  top: -50px;
  left: 100px;
}

.section-location {
  margin-top: 400px;
  display: flex;
}

.img-section-location {
  object-fit: cover;
  width: 50%;
  height: 600px;
}

.text-section-location-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.fp-section-location {
  height: 50%;
  font-family: 'Collier-regular';
  font-size: 3rem;
  padding: 5%;
}

.sp-section-location {
  height: 50%;
  background-color: #f5d410;
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
  padding: 5%;
}
